.catalog-component {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;    /* Center items horizontally */
  background-color: #f4f4f4;
  padding: 20px ;          /* Add padding to give some space around the content */
}

h1 {
  margin: 20px 0;         /* Add some margin to separate the heading from the cards */
  font-size: 2rem;
}
