.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;
   position: fixed;
   top: 0; 
   width: 100%;
   background-color: rgb(74, 6, 95);
   
 }

 .navbar a {
   color: aliceblue;
 }

ul {
   display: flex;
   gap: 30px;
   list-style-type: none; /* deletes the bullets */
   margin: 0 auto;
   padding: 0;
   
}

li {
   text-decoration: none;
   
}

.navbar a:hover{
   text-decoration: underline;
   color: aqua;
}
