.profile-component {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 80vh;
   background-color: #f4f4f4;
   padding-top: 60px; /* Push content down so it's below the navbar */
 }